* {
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

body {
  background-color: rgb(255, 255, 255);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 0px 15px 15px 0px;
  width: 417px;
  height: 630px;
  background: linear-gradient(#4ca1af, #c4e0e5);

  border-color: white;
}

.left {
  border: 1px solid white;
  border-radius: 15px 0px 0px 15px;
  backdrop-filter: blur(5px);
  background: linear-gradient(#c4e0e5, #4ca1af);
  width: 417px;
  height: 630px;
}

.sign {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  bottom: 110px;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

label {
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  font-size: 13px;
  font-family: "Panchang", sans-serif;
}
.par p {
  color: white;
  position: relative;
  bottom: 10px;
}

.forgot a {
  color: rgb(104, 105, 171);
  position: relative;
  bottom: 70px;
}

.user,
.pass {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 90px;
}

.user input,
.pass input {
  padding: 5px 10px 5px 0px;
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  background: transparent;
}

.user,
.pass {
  margin: 15px;
}

.btn button {
  padding: 5px 20px;
  border-radius: 10px;
  background: linear-gradient(to right, blue, pink);
  color: white;
  font-size: 15px;
  position: relative;
  bottom: 35px;
}

.google button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 5px 40px;
  background: linear-gradient(to right, white, rgb(187, 81, 81));
  margin: 5px 0px 20px 0px;
}

.facebook button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 8px 40px 8px 40px;
  background: linear-gradient(to right, white, rgb(0, 82, 164));
}

.google button img {
  padding-right: 10px;
}

.facebook button img {
  padding-right: 10px;
}

.user input::placeholder {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 11px;
  color: rgb(255, 255, 255);
}

.pass input::placeholder {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 11px;
  color: rgb(255, 255, 255);
}

.topic h2 {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  margin: 30px;
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}

span {
  color: rgb(120, 66, 202);
  margin-left: 10px;
}

.dei h1 {
  color: white;
  position: relative;
  left: 35px;
  top: 100px;
  background-color: black;
  box-shadow: 0px 10px 10px;
  font-size: 30px;
  border: 2px solid black;
  border-radius: 15px;
  padding: 8px 30px;
  width: fit-content;
  font-family: "Bespoke Stencil", sans-serif;
}

.pi {
  position: relative;
  top: 130px;
  left: 130px;
}

.bird img {
  position: relative;
  top: 150px;
  left: 60px;
}
